.todoItem {
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 10px 16px;
  margin-bottom: 10px;

  border: none;
  border-bottom: 1px solid #ccc;
}

.todoItem.completed span {
  color: #acacac;
  text-decoration: line-through;
}

.input {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.text {
  display: inline-block;
  max-width: 100%;
  text-align: left;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.itemButton {
  margin-left: auto;
}
