.deleteButton {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  appearance: none;
  cursor: pointer;
  background: none;
  border: none;

  outline: none;
}

.deleteButton:hover {
  cursor: pointer;
}
